	path = net.pcsx2.PCSX2/shared-modules
	url = https://github.com/flathub/shared-modules.git
	path = commercial/org.freegish.Gish/shared-modules
	url = https://github.com/flathub/shared-modules.git
	path = io.github.Mednafen/shared-modules
	url = https://github.com/flathub/shared-modules.git
	path = commercial/com.github.wolf4sdl/shared-modules
	url = https://github.com/flathub/shared-modules.git
[submodule "shared-modules"]
	path = shared-modules
	url = https://github.com/flathub/shared-modules.git
